footer {
  background-color: #03396c;
  bottom: 0;
  width: 100%;
  min-height: 2vh; /* Footer height */
  font-family: Montserrat;
  font-style: normal;
  font-weight: 200;
  font-size: 2vh;
  text-align: center;
  color: #ffffff;
  padding-top: 2vh;
  padding-bottom: 2vh;
}
footer h2 {
  font-family: Montserrat;

  font-style: normal;
  font-weight: bold;
  font-size: 3vh;
  text-align: center;
  color: #ffffff;
}
.mailLink {
  margin-left: 1vh;
  margin-right: 1vh;
}
/* @media (min-width: 700px) {
  footer {
    background-color: #03396c;
    bottom: 0;
    width: 100%;
    min-height: 15vh; 
    font-family: Montserrat;
    font-style: normal;
    font-weight: 200;
    font-size: 3vh;
    text-align: center;
    color: #ffffff;
    padding-top: 2vh;
  }
  footer h2 {
    font-family: Montserrat;

    font-style: normal;
    font-weight: bold;
    font-size: 3vh;
    text-align: center;
    color: #ffffff;
  }
  .mailLink {
    margin-left: 1vh;
    margin-right: 1vh;
  }
} */
