/* .mainNav, */
.mainNav {
  background-color: #03396c;
  height: 7vh;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 3vh;
}
.iconSocial {
  height: 3vh;
  margin-right: 2vh;
  margin-left: 1vh;
  color: white;
}
.color-nav {
  color: #b3cde0 !important;
  /* background-color: white; */
}

.color-nav:hover {
  color: white !important;
  /* background-color: white; */
}
