:root {
  --desktop: 1200px;
  /* col xl */
  --laptop: 1024px;
  /* col lg */
  --tablet: 768px;
  /* col md */
  --phone: 480px;
  /* col sm  */
}
@media (max-width: 2000px) and (min-width: 1200px) {
  .contactCard {
    height: 40vh;
    width: 50vw;
  }
  .title {
    margin-top: 2vh;
    margin-bottom: 4vh;
    font-size: 4vh;
  }
  .titleHeader {
    /* margin-top: px; */
    font-size: calc(10px + 4vh);
    font-weight: bolder;
  }
  .secondaryTitleHeader {
    font-size: calc(9px + 2vh);
  }
  .contactTxt {
    margin: 0vh 0 0vh 1vh;
  }
  .iconContact {
    width: calc(4px + 1.5vh);
    margin: 0vh 1vh 0vh 0vh;
  }
  .contactWay {
    font-size: calc(10px + 1.5vh);
  }
}

@media (max-width: 1200px) and (min-width: 1024px) {
  .contactCard {
    height: 25vw;
    width: 50vw;
  }
  .title {
    margin-top: 4vh;
    font-size: 4vh;
  }
  .titleHeader {
    padding-top: 6vh;
    margin-top: -60px;
    font-size: calc(10px + 4vh);
    font-weight: bolder;
  }
  .secondaryTitleHeader {
    font-size: calc(9px + 2vh);
  }
  .contactTxt {
    margin: 0vh 0 0vh 1vh;
  }

  .iconContact {
    width: calc(4px + 1.5vh);
    margin: 0vh 1vh 0vh 0vh;
  }
  .contactWay {
    font-size: calc(8px + 1.5vh);
  }
}

@media (max-width: 1023px) and (min-width: 769px) {
  .contactCard {
    background: green;
    height: 30vw;
    /* height: calc(150px + 1.5vh); */
    width: 60vw;
  }
  .title {
    margin-top: 3vh;
    font-size: 4vh;
  }
  .titleHeader {
    padding-top: 5vh;
    margin-top: -55px;
    font-size: calc(8px + 3.3vh);
    font-weight: bolder;
  }
  .secondaryTitleHeader {
    font-size: calc(9px + 1.3vh);
  }
  .contactTxt {
    margin: 0vh 0 0vh 1vh;
  }

  .iconContact {
    width: calc(4px + 1.5vh);
    margin: 0vh 1vh 0vh 0vh;
  }
  .contactWay {
    font-size: calc(6px + 1.5vh);
  }
}
@media (max-width: 768px) and (min-width: 300px) {
  .contactCard {
    background: gray;
    height: calc(250px + 1.5vh);
    width: 90vw;
  }
  .title {
    margin-top: 3vh;
    font-size: 3vh;
  }
  .titleHeader {
    padding-top: 3vh;
    margin-top: -50px;
    font-size: calc(8px + 3vh);
    font-weight: bolder;
  }
  .secondaryTitleHeader {
    font-size: calc(8px + 1vh);
  }
  .contactTxt {
    margin: 0vh 0 0vh 0.2vh;
  }

  .iconContact {
    width: calc(2px + 1.5vh);
    margin: 0vh 0.2vh 0vh 0vh;
  }
  .contactWay {
    font-size: calc(5px + 1vh);
  }
}
.mainArticle {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.title {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  text-align: center;
  color: #ffffff;
}

.contactCard {
  font-family: Montserrat;
  font-style: normal;
  /* margin-left: auto;
  margin-right: auto; */
  background: #00395f;
  box-shadow: 0px 4px 4px rgba(255, 255, 255, 0.25),
    0px -4px 4px rgba(255, 255, 255, 0.25);
  border-radius: 2vh;
}

.contactCardHeader {
  text-align: center;
  color: #b3cde0;
}

.cv-btn {
  margin-top: 5vh;
  margin-bottom: 2vh;
  background-color: #01243b;
  border-radius: 1vh;
  padding: 0.5vh;
}
h2 {
  color: #0271bb;
}
/* .titleHeader {
  padding-top: 2vh;
  font-size: calc(8px + 4vh);
  font-weight: bolder;
}
.secondaryTitleHeader {
  font-size: calc(8px + 2vh);
} */
.hrContact {
  border-color: white;
}
.contactCardBody {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
}
.contactWay {
  display: flex;
  flex-direction: row;
  width: fit-content;
  /* font-size: calc(4px + 1.5vh); */
  /* margin: 1vh 0 0 0; */
  /* align-items: center; */
}

/* @media only screen and (min-width: 601px) {
  .iconContact {
    width: 2vw;
    margin: 0vh 1vh 0vh 0vh;
  }
  .contactWay {
    display: flex;
    flex-flow: wrap;
    flex-direction: row;
    width: fit-content;
    font-size: 1.8vh;
    margin: 1vh 0 0 0;
    align-items: center;
  }
}

@media only screen and (min-width: 320px) and (max-width: 600px) {
  /* Write smartphone only styles here */
/* .iconContact {
    width: 0vw;
    margin: 0vh 0vh 0vh 0vh;
    visibility: hidden;
  } */
/* .contactWay {
    display: flex;
    flex-direction: col;
    flex-flow: wrap;
    width: 80px;
    font-size: 1.8vh;
    margin-left: auto;
    margin-right: auto; */
/* margin: 1vh 0 0 0; */
/* align-items: center; */
/* justify-content: center; */
/* align-content: center; */
/* }
  .iconContact {
    width: 30px;
    margin: 0vh 1vh 0vh 0vh;
    box-sizing: border-box;
  }
  .contactTxt {
    margin: 0;
    width: 80px;
    box-sizing: border-box;
  }
}  */
