header {
  margin-top: 10vh;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}
@media (max-width: 700px) {
  header {
    margin-top: 3vh;
    width: 100%;
  }
}
.img-circle {
  width: 25vh;
  height: 30vh;
  border: 2px solid #454444;
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(251, 251, 251, 0.5),
    0px -4px 4px rgba(255, 255, 255, 0.5);
  border-radius: 50%;
}
.myDescription {
  text-align: left;
}
.myName {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 8vh;
  /* line-height: 10vh; */

  color: #b3cde0;
}
.myTitre {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 3.5vh;
  color: #6497b1;
}
.mainArticle {
  min-height: 100vh;
}
.hireMe-btn {
  width: 20vh;
  height: 5vh;
  color: #ffffff;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 3vh;
  text-align: center;
  filter: drop-shadow(0px 4px 4px rgba(252, 248, 248, 0.25));
  background: #02416b;
  opacity: 0.7;
  border: 3px solid #ffffff;
  border-radius: 1vh;
}
.aboutContainer {
  display: flex;
  justify-content: center;
}
.rect-back {
  margin-left: auto;
  margin-right: auto;
  margin-top: 12vh;
  margin-bottom: 5vh;
  padding-left: 5vh;
  background: #6497b1 !important;
  border-radius: 3vh;
}
.rect-back h2 {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 800;
  font-size: 5.5vh;
  color: #b3cde0;
}
.rect-front {
  margin-left: auto;
  margin-right: auto;
  padding-top: 5vh;
  padding-bottom: 5vh;
  background: #b3cde0;
  box-shadow: 0px 4px 4px rgba(255, 255, 255, 0.25),
    0px -4px 4px rgba(255, 255, 255, 0.25);
  border-radius: 3vh;
}
.rect-front p {
  margin-left: 5vh;
  padding-left: 2vh;
  padding-right: 2vh;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 3vh;
  color: #03396c;
}

.rect-front h5 {
  margin-left: 5vh;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 3vh;
  color: #03396c;
}

.bottom-article {
  min-height: 100vh;
  background: #006bb1;
}
.allCategories {
  margin-top: -2vh;
  margin-left: auto;
  margin-right: auto;
  width: 95%;
}
.categories {
  background-color: #00395f;
  color: #b3cde0;
  border-radius: 3vh;
  margin-bottom: 1vh;
  padding-bottom: 5vh;
}
.categories h2 {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 3vh;
  text-align: center;
  color: #ffffff;
  padding-top: 1vh;
  padding-bottom: -1vh;
}
.categories h4 {
  font-family: Montserrat;
  font-style: normal;
  font-size: 1.8vh;
  text-align: center;
  color: #b3cde0;
}
.titreCategories {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 5vh;
  text-align: center;
  color: #ffffff;
  padding-top: 2vh;
  padding-bottom: 2vh;
}
/* footer {
  background-color: #03396c;
  bottom: 0;
  width: 100%;
  height: 10vh;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 200;
  font-size: 3vh;
  text-align: center;
  color: #ffffff;
  padding-top: 2vh;
}
footer h2 {
  font-family: Montserrat;

  font-style: normal;
  font-weight: bold;
  font-size: 3vh;
  text-align: center;
  color: #ffffff;
} */

.myProgressBar {
  width: 70%;
  margin-bottom: 0 !important;
  margin-left: auto;
  margin-right: auto;
}
.portfolioLink h2 {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 2.5vh;
  text-align: center;
  color: #ffffff;
  padding-top: 0.1vh;
  padding-bottom: -1vh;
}
